/* --Element Styles-- */
*{
    margin: 0;
    padding: 0;
}

html{
    overflow-y: scroll;
}

h1{
    text-align: center;
    font: bold 42px arial,helvetica,sans-serif;
    padding: 4px;
}

h2{
    text-align: center;
    font: bold 24px arial,helvetica,sans-serif;
    padding: 6px;
}

h3{
    font: bold 24px arial,helvetica,sans-serif;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}

h5{
    font: italic 18px arial,helvetica,sans-serif;
    color:#00FF6E;
}

p{
    padding: 10px;
}

body{
    font: normal 18px arial,helvetica,sans-serif;
    word-spacing: 1px;

    /* Site Background */
    margin: 0;
    background: url(../img/bk.jpg);
    background-position: center;
    background-attachment: fixed;
}

blockquote {
    font: italic 16px arial,helvetica,sans-serif;
    color:#00FF6E;
    position: relative;
    padding: 10px;
}
blockquote:before {
    font-family: Georgia, serif;
    color: #ffffff;
    position: absolute;
    font-size: 3em;
    line-height: 1;
    top: 0;
    left: -16px;
    content: "\201C";
}
blockquote:after {
    font-family: Georgia, serif;
    color: #ffffff;
    position: absolute;
    float:right;
    font-size:3em;
    line-height: 1;
    right:-10px;
    bottom:-24px;
    content: "\201D";
}

cite{
    display: block;
    font-style: italic;
    font-size: 16px;
    text-align: right;
    padding-bottom: 16px;
}

hr{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 28px;
    background:url('../img/hr.png');
    border:0;
    background-repeat: no-repeat;
    background-position: center;
}

/* --Class Styles-- */

.head{
    width: 800px;
    height: 248px;
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 20px;
    text-align: center;
}

.container{
    width:800px;
    margin:0 auto;
    overflow: hidden;
    position: relative;
}

.box-1{
    background-color:  rgba(0, 0, 0, 0.708);
    color:#fff;
    padding: 16px;
    margin: 18px auto;
    border-radius: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.box-2{
    background-color:  rgba(0, 0, 0, 0.318);
    color:#fff;
    padding: 16px;
    margin: 18px auto;
    border-radius: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.block{
    float: left;
    width: 32%;
    height: 364px;
    padding: 16px;
    margin: 5px;
    box-sizing: border-box;
}

.block p{
    font-size: 16px;
}

.emphasis0{
    color:#00FF6E;
}
.emphasis1{
    color:#ff227e;
}

.quote-bubble{
    display: block;
    text-align: center;
    background-color:  rgba(255, 255, 255, 0.266);
    padding: 18px;
    border-radius: 24px;
    margin: 16px 0px;
}

/* -- NAVIGATION BAR -- */
    .nav{
        list-style:none;
        margin:0;
        margin-top: 22px;
        padding:0;
        text-align:center;
        overflow: hidden;
        background-color: #333;
        border-radius: 24px;
    }
    .nav li{
        display:inline-block; 
        padding:0 10px; 
        position:relative;
    }
    .nav a{
        display:inline-block;
        color: white;
        text-align: center;
        padding: 12px 14px;
        text-decoration: none;
    }
    li a:hover {
        background-color: rgba(0, 0, 0, 0.203);
        color:#ff1b7a;
    }
    ul li:not(:last-child)::after{
        content:""; 
        border:1px solid #e2e2e2;
        border-width: 1px 1px 0 0;
        position:absolute; 
        right:-3px; 
        top:12px; 
        height:60%;
      }

    a{
        text-decoration:none
    }

.fix-me{
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 400px;
}

.return-top{
    position: fixed;
    bottom: 48px;
    right: 40px;
    width: 64px;
    opacity: 50%;
}

.return-top:hover{
    opacity: 100%;
}

.block-image{
display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-bottom: 20px;
    padding-top: 20px;
}

#page-bottom{
    font-style: italic;
    font-size: 16px;
    text-align: center;
    background-color:  rgba(0, 0, 0, 0.516);
    color:#fff;
    padding: 2px;
    border-radius: 24px;
    width: 18%;
    margin: 20px auto;
}

.rightcolumn {
    position: fixed;
    left: 286px;
    top: 0px;
    width: 248px;
}

.blog-image{
    display: block;
    width: 90%;
    height: auto;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid transparent;
    border-radius: 26px;
}
  
div.gallery img {
    width: 100%;
    border-radius: 12px;
    aspect-ratio: 1;
    object-fit:cover;
  }
  
.responsive {
    padding: 6px 6px;
    float: left;
    width: 31.4%;
  }
  
@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }